<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tools</title>
    <script src="./js/jscolor.min.js"></script>
    <style>
    .tools{
        background-color: white;
        border: 1px solid silver;
        position:fixed;
        left: 0px;
        top:100px;
    }
    .tools button {
        border: 0px solid black;
        /* border-radius: 18px; */
        margin:4px;
        width:36px;
        height:36px;
    }
    </style>
</head>
<body>
    <div class="tools">
        <button class="cpicker 
        jscolor {valueElement:null,value:'66ccff',
        width:243, height:150, position:'right',
        borderWidth:1, borderColor:'#DDD', insetColor:'transparent', 
        backgroundColor:'white',shadow:false, borderRadius:0}" ></button>
        <br>
        <button onclick="saveCanvas('drawing','png')">save</button>
    </div>
</body>
</html>