<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tools-panel">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tools-panel`
     * holds a color picker, width and flow controllers
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ToolsPanel extends Polymer.Element {
      static get is() { return 'tools-panel'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tools-panel'
          }
        };
      }
    }

    window.customElements.define(ToolsPanel.is, ToolsPanel);
  </script>
</dom-module>
